/server/.DS_Store
/server/node_modules
/server/dist


# local env files
/server/.env.local
/server/.env.*.local

# Log files
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
/server/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.idea
/client/node_modules
/client/.pnp
/client/.pnp.js


/coverage

/build

/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/server/node_modules