@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Mulish";
        src: url("./fonts/Mulish-Regular.ttf") format("ttf");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "Mulish";
        src: url("./fonts/Mulish-Bold.ttf") format("ttf");
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: "Mulish";
        src: url("./fonts/Mulish-ExtraBold.ttf") format("ttf");
        font-weight: 800;
        font-style: normal;
    }

    body {
        font-family: "Mulish", sans-serif;
    }
    input, button, textarea {
        outline: none;
    }
}
